.ui.very.padded.segment
  .row
    %h2 Forgot your password?

  .row
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification

      .ui.padded.basic.segment
        = f.input :email, required: true, autofocus: true
      .row
        = f.submit "Send me reset password instructions", class: 'ui button green large'


  .row= render "devise/shared/links"
